<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mapkarajouhou.Keys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <Mapkarajouhou.Keys>
            <setting name="yolp" serializeAs="String">
                <value>dj00aiZpPUlBUjRqaUVnNG5NVyZzPWNvbnN1bWVyc2VjcmV0Jng9MDk-</value>
            </setting>
            <setting name="geocoding" serializeAs="String">
                <value>AIzaSyDjDD7Shqd-EEt28X6wK73mziNDygSWGGU</value>
            </setting>
        </Mapkarajouhou.Keys>
    </userSettings>
</configuration>